body{
    background-color: #333;
}
p{
    color: #FFFFFF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #333;
  }
  img{
      height: 30px;
      width: 30px;
  }
  .categorias {
      text-align: center;
      margin-top: 40px;
  }
  .inp{
    margin-top: 10px;
  }
h2{
  color:white;
}
.w3-input{padding:5px;border:none;border-bottom:1px solid #ccc;width:50%}

.card-title{
    text-align: center;
}
.card-info{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

.game-options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-options button{
  margin: 10%;
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid #555555;
}

.game-options button:hover{
  background-color: #555555;
  color:white;
}

.button{
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.custom-game{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  
}

.table{
  width: 300px;
  height: 100px;
  border: white 2px;
}

.selected-cell{
  background-color: #555555;
}
.gamePad{
  display: flex;
  align-items: center;
  justify-content: center;
}